# Database Configuration
# In production, use your MongoDB Atlas connection string
MONGODB_URI=mongodb+srv://user:pass@cluster.mongodb.net/feedbackpulse?retryWrites=true&w=majority
DB_NAME=feedbackpulse

# Security Configuration
# Generate a strong secrert using: openssl rand -hex 32
JWT_SECRET=changethis_to_a_secure_random_string_in_production
JWT_EXPIRE_MINUTES=30
ALGORITHM=HS256

# Environment (development | production)
ENVIRONMENT=development
